<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>테스트</title>
</head>

<body>

<h1>DB 연동 테스트</h1>

<table>
    <tr>
        <th>id</th>
        <th>text</th>
    </tr>
    <tr th:each="dummy: ${dummyList}" th:object="${dummy}">
        <td th:text="*{id}"></td>
        <td th:text="*{text}"></td>
    </tr>
</table>

</body>

</html>
